<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1 id="ptitle"><%= post.title %></h1>
  <label id="pdesc">Description:</label>
  <p id="desc"><%= post.description %></p>
  <hr id="hrr">
  <div id="pcontent"><%= post.content %></div>
<br><br>
  <a id="backtohomee" href="/">Back to home</a>
</body>

</html>
